
<div *ngIf="bank">
    <h2><span>Bank</span> {{bank.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Name</span></dt>
        <dd>
            <span>{{bank.name}}</span>
        </dd>
        <dt><span>Account Number</span></dt>
        <dd>
            <span>{{bank.accountNumber}}</span>
        </dd>
        <dt><span>Account Holder</span></dt>
        <dd>
            <span>{{bank.accountHolder}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'bank/'+ bank.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
